// Override Bootstrap variables
$body-bg: #105da8;
$input-bg: #dfd482;

.card.text-bg-secondary {
  background-color: rgb(115, 117, 120) !important;
}

$blockquote-footer-color: #ffd800;

$success: #dfd482;
$warning: #d5982d;
$primary-bg-subtle: #efd2a4;

$placeholder-opacity-max: 0.1;
$input-placeholder-color: #7aa0c1;

$font-family-base: "Roboto", sans-serif;

$navbar-brand-font-size: 1.5rem;
.navbar .nav-link {
  font-weight: bold;
}

$body-color-dark: #d3952c;
$info: #27d553;

//$card-bg-dark: #676567; // doesnt work for some reason

[data-bs-theme="dark"] .card {
  background-color: #26406e !important;
}

// these dont work for some reason
$navbar-dark-color: #ffffff;
$navbar-dark-hover-color: #e11212;
$navbar-dark-active-color: #ffee22;
$navbar-dark-bg: #f64a62;

//
$table-striped-bg: #bd851d;
$table-bg: #dfd482;
$table-hover-bg: #105195;
$table-border-color: #105195;
$table-border-width: 2px;
$table-border-factor: 0.5;

$carousel-transition-duration: 1s;
$carousel-dark-caption-color: #fb2828;
$carousel-caption-color: #fbd228;

.carousel-caption {
  font-size: 1.5rem;
  font-weight: bold;

  h5 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }
}

// these dont work for some reason
//$card-bg-dark: #a8a0a0;
//$card-color-dark: #0707ca;
//$card-border-color-dark: #d5dd47;

$table-color: #090043;

#stocksCarousel {
  max-width: 1400px;
  margin: 0 auto;     // Centering

  .carousel-item img {
    width: 100%;
    max-height: 600px;
    object-fit: cover; // Crop nicely
  }
}

// Navbar
$navbar-light-hover-color: #ffd800;
$navbar-light-active-color: #031dc1;

// Card
$card-border-color: #105da8;
$card-border-radius: 10px; // Rounded corners
$card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

// Light mode styles
[data-bs-theme="light"] body {
  background: linear-gradient(270deg, #8cb3ef, #0ae3f8, #0cb1ec);
  background-size: 300% 300%;
  animation: gradientShift 10s ease infinite;
}

// Dark mode styles
[data-bs-theme="dark"] body {
  background: linear-gradient(270deg, #000000, rgb(0, 4, 21), #201e1e);
  background-size: 300% 300%;
  animation: gradientShift 10s ease infinite;
}

[data-bs-theme="dark"] input {
  color: #ffffff;
  border-color: #495057;
}

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
