<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>StocksByMarek</title>
  <link rel="icon" href="./favicon.ico">
  <link rel="stylesheet" href="./styles.css">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-warning shadow">
  <div class="container">

    <a class="navbar-brand d-flex align-items-center" href="HomePage.html" aria-current="page">
      <img src="./favicon.ico" alt="Stock.image" width="30" height="24" class="me-3">
      <span>Stocks</span>
    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link px-3" aria-current="page" href="PridatKlienta.html">Pridať klienta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="ZoznamKlientov.html">Zoznam klientov</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="Portfolio.html">Portfolio Simulácia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active px-3" href="Accounts.html">Účty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="Investing.html">Investovanie</a>
        </li>
      </ul>

      <div class="d-flex ms-auto">
        <button class="btn btn-primary btn-outline-dark" id="themeToggle" title="Switch light mode vs dark mode!">Switch Mode</button>
      </div>

    </div>
  </div>
</nav>

<div class="d-flex flex-column min-vh-100">
  <div class="container mt-5 d-flex justify-content-center align-items-center">
    <div class="card shadow-lg text-bg-secondary p-4 w-100" style="max-width: 800px;">
      <div class="card-body">
        <h2 class="text-center mb-5 text-black fw-bold">Bankový a Investičný Účet</h2>

        <div class="row">
          <div class="col-md-6">
            <h4 class="text-center text-primary">Bankový Účet</h4>
            <form id="bankAccountForm">
              <div class="mb-3">
                <label for="bankAmount" class="form-label">Suma (€)</label>
                <input type="number" id="bankAmount" step="10" class="form-control" placeholder="Zadajte sumu" required>
              </div>
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-info" id="depositBank">Vklad</button>
                <button type="submit" class="btn btn-danger" id="withdrawBank">Výber</button>
              </div>
            </form>
          </div>


          <div class="col-md-6">
            <h4 class="text-center text-primary">Investičný Účet</h4>
            <form id="investmentAccountForm">
              <div class="mb-3">
                <label for="investmentAmount" class="form-label">Suma (€)</label>
                <input type="number" id="investmentAmount" step="10" class="form-control" placeholder="Zadajte sumu" required>
              </div>
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-info" id="depositInvestment">Vklad</button>
                <button type="submit" class="btn btn-danger" id="withdrawInvestment">Výber</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="mt-4">
      <h3>Správa Účtov</h3>
      <p>
        Bankové účty a investičné účty sú základom vášho finančného portfólia. Prostredníctvom tejto stránky
        môžete jednoducho pridávať finančné prostriedky, vykonávať výbery a sledovať pohyby na vašich účtoch.
        Udržujte si prehľad o svojich financiách.
      </p>

      <h3>Bankové Účty</h3>
      <p>
        Bankové účty slúžia na správu vašich každodenných financií. Umožňujú vám vkladať, vyberať a spravovať
        prostriedky. Zabezpečujeme najvyššiu úroveň zabezpečenia a jednoduché rozhranie pre maximálne pohodlie.
      </p>

      <h3>Investičné Účty</h3>
      <p>
        Investičné účty sú určené pre dlhodobé ciele a budovanie majetku. Môžete ich použiť na investovanie
        do akcií, dlhopisov alebo iných finančných nástrojov. Sledovanie výkonnosti vašich investícií nebolo nikdy
        jednoduchšie!
      </p>
      <h3>Prečo spravovať svoje účty na jednom mieste?</h3>
      <p>
        Centralizácia vašich bankových a investičných účtov vám umožňuje jednoduchší prístup k financiám, rýchlejšie rozhodovanie a lepší prehľad o výkonnosti vašich investícií. Naše rozhranie ponúka užívateľsky prívetivú navigáciu, kde môžete jednoducho sledovať, analyzovať a optimalizovať svoje finančné prostriedky.
      </p>

      <h3>Výhody správy bankových účtov</h3>
      <p>
        Bankové účty slúžia ako základ vášho finančného života. Vďaka našim nástrojom môžete:
      <ul>
        <li>Sledovať aktuálny zostatok v reálnom čase</li>
        <li>Rýchlo pridávať alebo vyberať prostriedky</li>
        <li>Generovať prehľady o transakciách</li>
        <li>Plánovať rozpočet pomocou integrovaných funkcií</li>
      </ul>
      Udržiavajte svoje financie bezpečné a organizované.
      <h3>Výhody správy investičných účtov</h3>
      <p>
        Investovanie je kľúčom k budovaniu bohatstva a finančnej nezávislosti. Spravujte svoje investičné účty efektívne:
      <ul>
        <li>Monitorujte výkonnosť svojich akcií a ETF</li>
        <li>Analyzujte riziká pomocou grafov a štatistík</li>
        <li>Jednoducho pridávajte nové investície</li>
        <li>Predávajte svoje aktíva, keď je to výhodné</li>
      </ul>
      Zlepšite svoju investičnú stratégiu s našou platformou.
      </p>

      <h3>Bezpečnosť vašich účtov</h3>
      <p>
        Vaša bezpečnosť je našou prioritou. Používame najmodernejšie šifrovacie technológie, aby sme zabezpečili vaše údaje. Každá transakcia je overovaná a auditovaná, aby sa minimalizovali akékoľvek riziká.
      </p>

      <h3>Časté otázky</h3>
      <p>
        <b>1. Ako môžem pridať finančné prostriedky na svoj účet?</b><br>
        Pre pridanie prostriedkov jednoducho použite tlačidlo "Pridať finančné prostriedky" v sekcii vášho účtu. Budete presmerovaný na bezpečnú stránku pre transakciu.
      </p>
      <p>
        <b>2. Ako môžem vykonať výber?</b><br>
        Výbery sú rovnako jednoduché – prejdite do sekcie výberov, zadajte požadovanú sumu a potvrďte operáciu.
      </p>
      <p>
        <b>3. Aké typy investícií sú podporované?</b><br>
        Na našej platforme môžete investovať do akcií, ETF, dlhopisov a ďalších finančných nástrojov.
      </p>

      <h3>Podpora zákazníkov</h3>
      <p>
        Máte otázky alebo potrebujete pomoc? Naša zákaznícka podpora je tu pre vás 24/7. Kontaktujte nás prostredníctvom chatu, e-mailu alebo telefonicky. Náš tím je pripravený pomôcť vám s akýmkoľvek problémom.
      </p>
    </div>
  </div>

  <div>
      <h3 class="text-center mt-5 mb-5">Ďakujeme, že používate StocksByMarek!</h3>

  </div>

  <div class="container flex-grow-1"></div>
  <footer class="bg-dark text-white py-3">
    <div class="container d-flex justify-content-between align-items-center">
      <p class="mb-0">&copy; 2024 StocksByMarek. All rights reserved.</p>
      <p class="mb-0">Contact us: <a href="mailto:support@stocksbymarek.com" class="text-white">support@stocksbymarek.com</a></p>
    </div>
  </footer>
</div>

<script>
  const themeToggle = document.getElementById('themeToggle');
  const htmlElement = document.documentElement;

  themeToggle.addEventListener('click', () => {
    const currentTheme = htmlElement.getAttribute('data-bs-theme');
    const newTheme = currentTheme === 'light' ? 'dark' : 'light';
    htmlElement.setAttribute('data-bs-theme', newTheme);
  });
</script>

<script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
