<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StocksByMarek</title>
    <link rel="icon" href="./favicon.ico">
    <link rel="stylesheet" href="./styles.css">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-warning shadow">
    <div class="container">

        <a class="navbar-brand d-flex align-items-center" href="HomePage.html" aria-current="page">
            <img src="./favicon.ico" alt="Stock.image" width="30" height="24" class="me-3">
            <span>Stocks</span>
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active px-3" aria-current="page" href="PridatKlienta.html">Pridať klienta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="ZoznamKlientov.html">Zoznam klientov</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="Portfolio.html">Portfolio Simulácia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="Accounts.html">Účty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="Investing.html">Investovanie</a>
                </li>
            </ul>

            <div class="d-flex ms-auto">
                <button class="btn btn-primary btn-outline-dark" id="themeToggle" title="Switch light mode vs dark mode!">Switch Mode</button>
            </div>

        </div>
    </div>
</nav>

<div class="container pt-5">
    <div class="card shadow-lg text-bg-secondary">
        <h2 class="mb-4 mt-3 ms-3 text-black fw-bold">Add client</h2>
        <div class="card-body">
            <form id="ClientForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="Name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="Name" placeholder="Marek Rezny" required>
                        </div>
                        <div class="mb-3">
                            <label for="Email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="Email" placeholder="rezny.marek@gmail.com" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="bankAccountBalance" class="form-label">Bank Account Balance</label>
                            <input type="number" class="form-control" id="bankAccountBalance" placeholder="4000" required>
                        </div>
                        <div class="mb-3">
                            <label for="investmentAccountBalance" class="form-label">Investment Account Balance</label>
                            <input type="number" class="form-control" id="investmentAccountBalance" placeholder="2000" required>
                    </div>
                </div>
            </div>

            <div class="row p-3">
                <div class="col col-md-auto">
                    <button type="submit" class="btn btn-dark w-100" title="Add client to the database!" data-bs-toggle="tooltip">Send</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
    const themeToggle = document.getElementById('themeToggle');
    const htmlElement = document.documentElement;

    themeToggle.addEventListener('click', () => {
        const currentTheme = htmlElement.getAttribute('data-bs-theme');
        const newTheme = currentTheme === 'light' ? 'dark' : 'light';
        htmlElement.setAttribute('data-bs-theme', newTheme);
    });
</script>

<script src="../../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
