<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FHI Online Banking</title>
    <link rel="icon" href="./favicon.ico">
    <link rel="stylesheet" href="./styles.css">
</head>
<body>

<nav class="navbar navbar-expand-md bg-warning shadow">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="HomePage.html">
            <img src="./favicon.ico" alt="Bootstrap" width="30" height="24" class="me-3">
            <span>Stocks</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="PridatKlienta.html">Pridať klienta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ZoznamKlientov.html">Zoznam klientov</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Portfolio.html">Portfolio Simulácia</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container pt-5">
    <h1>Zoznam klientov</h1>
    <div class="card shadow-lg">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Krajina</th>
                    <th scope="col">Mesto</th>
                    <th scope="col">Ulica</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>SK</td>
                    <td>Bratislava</td>
                    <td>Pribinova 40</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>SK</td>
                    <td>Bratislava</td>
                    <td>Pribinova 40</td>
                </tr>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>SK</td>
                    <td>Bratislava</td>
                    <td>Pribinova 40</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
