<div class="d-flex flex-column mb-5">
  <div class="container mt-5 d-flex border-0 justify-content-center align-items-center">
    <div class="card shadow-lg text-bg-secondary p-4 w-100" style="max-width: 700px;">
      <div class="card-body">
        <h2 class="text-center mb-5 text-black fw-bold">Portfolio Simulation</h2>
        <form [formGroup]="portfolioForm" (ngSubmit)="runSimulation()">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="stockSymbol" class="form-label">Stock Symbol</label>
                <input
                  type="text"
                  id="stockSymbol"
                  class="form-control"
                  formControlName="stockSymbol"
                  placeholder="AAPL"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="currency" class="form-label">Currency</label>
                <input
                  type="text"
                  id="currency"
                  class="form-control"
                  formControlName="currency"
                  placeholder="USD"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="stockPrice" class="form-label">Stock Price</label>
                <input
                  type="number"
                  id="stockPrice"
                  class="form-control"
                  formControlName="stockPrice"
                  placeholder="150"
                  step="100"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="dividendYield" class="form-label">Dividend Yield</label>
                <input
                  type="number"
                  id="dividendYield"
                  class="form-control"
                  formControlName="dividendYield"
                  step="0.1"
                  min="0"
                  max="1"
                  placeholder="0.3"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="volatility" class="form-label">Volatility</label>
                <input
                  type="number"
                  id="volatility"
                  class="form-control"
                  formControlName="volatility"
                  step="0.1"
                  min="0"
                  max="1"
                  placeholder="0.4"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="expectedReturn" class="form-label">Expected Return</label>
                <input
                  type="number"
                  id="expectedReturn"
                  class="form-control"
                  formControlName="expectedReturn"
                  step="0.1"
                  min="0"
                  max="1"
                  placeholder="0.2"
                  required
                />
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="totalShares" class="form-label">Number of Shares</label>
                <input
                  type="number"
                  id="totalShares"
                  class="form-control"
                  formControlName="totalShares"
                  min="1"
                  placeholder="10"
                  required
                />
              </div>
            </div>
            <div class="col-md-5 text-center mt-3 ms-4">
              <button
                type="button"
                class="btn btn-dark"
                title="Add the stock to the portfolio!"
                data-bs-toggle="tooltip"
                (click)="addStock()"
              >
                Add stock
              </button>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-6">
              <label for="months" class="form-label">Simulation Months</label>
              <input
                type="number"
                id="months"
                class="form-control"
                formControlName="months"
                min="1"
                placeholder="12"
                required
              />
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center mt-4">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="showInfo"
                  formControlName="showInfo"
                />
                <label class="form-check-label" for="showInfo">Show Detailed Info</label>
              </div>
            </div>
          </div>

          <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary" title="Shows portfolio growth over time!">
              Run Simulation
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="text-center mb-5">
  <p>
    Simulácia portfólia je dynamický nástroj navrhnutý na poskytnutie detailných prehľadov o potenciálnom raste a výkyvoch investícií do akcií v priebehu času.
    Pomocou pokročilých finančných modelov, ako je Geometric Brownian Motion, táto simulácia predpovedá, ako sa môže hodnota jednotlivých akcií a celého portfólia
    vyvíjať za rôznych trhových podmienok, pričom zohľadňuje faktory ako volatilita, očakávané výnosy a dividendový výnos.
  </p>
  <p>
    Tento nástroj umožňuje používateľom vizualizovať a analyzovať výkonnosť ich investícií na mesačnej báze. Simulácia automaticky reinvestuje získané dividendy,
    čo vedie k zloženému rastu portfólia a poskytuje presnejšiu projekciu dlhodobého výkonu. Používatelia môžu konfigurovať parametre simulácie, ako je počet mesiacov na simuláciu
    a možnosť zobrazenia detailných výstupov, čím sa prispôsobí individuálnym investičným stratégiám.
  </p>
  <p>
    <strong>Hlavné výhody simulácie portfólia zahŕňajú:</strong>
  </p>
  <ul style="display: inline-block; text-align: left;">
    <li><strong>Prispôsobiteľné vstupné parametre:</strong> Používatelia môžu definovať počiatočné údaje o akciách, vrátane cien akcií, dividendových výnosov, volatility a očakávaných výnosov, čím si vytvoria personalizované scenáre rastu portfólia.</li>
    <li><strong>Detailné sledovanie výkonnosti:</strong> Mesačné reporty poskytujú prehľad o zmenách cien akcií, reinvestovaných dividendách a celkovej bilancii portfólia, čo pomáha pri informovanom rozhodovaní.</li>
    <li><strong>Interaktívne vizualizácie:</strong> S detailnou tabuľkou výkonnosti akcií môžu používatelia vidieť, ako každá akcia prispieva k rastu alebo poklesu portfólia v priebehu času.</li>
  </ul>
  <p>
    Či už ste skúsený investor alebo nováčik vo svete akcií, táto simulácia portfólia slúži ako neoceniteľný nástroj na plánovanie, predpovedanie a vylepšovanie investičných stratégií.
    Využite túto funkciu na experimentovanie s rôznymi trhovými podmienkami, pochopte dopad reinvestovania dividend a pripravte sa na reálne investičné scenáre.
  </p>
</div>


<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-black fw-bold" id="resultModalLabel">Simulation Result</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <pre>{{ simulationResult }}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
