<table class="table">
  <thead>
  <tr>
    @for (column of columns; track $index) {
      <th scope="col">{{column.label}}</th>
    }
  </tr>
  </thead>
  <tbody>
    @for (row of rows; track $index) {
      <tr>
        @for (column of columns; track $index) {
          <td>
            <span (click)="column?.onCLick ? column?.onCLick(row) : null" [ngClass]="{'link-primary': column?.onCLick}">
               @if (column.attribute) {
                 {{row[column.attribute]}}
               } @else {
                 {{column.text}}
               }
            </span>
          </td>
        }
      </tr>
    } @empty {
      <div> Žiadne záznamy</div>
    }
  </tbody>
</table>
