.carousel-caption h5 {
  color: #ffcc00 !important;;
}

.carousel-caption p {
  color: #ff0606 !important;;
}

$carousel-caption-color: #ffcc00 !important;
$warning-color: #ff0606 !important;;
$body-bg: #f8f9fa !important;;
