<div class="container mt-5 mb-5 d-flex border-0 justify-content-center align-items-center">
  <div class="card shadow-lg text-bg-secondary p-4 w-100" style="max-width: 1100px;">
    <div class="card-body">
      <h2 class="text-center mb-5 text-black fw-bold">Zoznam Klientov</h2>

    @if (isLoading) {
      <div class="text-center text-muted fs-5 py-3">
        Načítavam ...
      </div>

    } @else if (isDeleting) {
      <div class="text-center text-muted fs-5 py-3">
        Odstraňujem ...
      </div>

    } @else {
      <form id="searchForm" class="mb-5 pb-3">
        <div class="input-group">
          <input
            type="text"
            id="searchInput"
            class="form-control"
            placeholder="Hľadať podľa emailu..."

            [(ngModel)]="search"

            name="search"
            aria-label="Search"
          />
          <button
            class="btn btn-primary"
            type="button"
            id="searchButton"

            (click)="searchClients()"
          >
            Hľadať
          </button>
        </div>
      </form>

      <app-table
        [columns]="clientsColumns"
        [rows]="filteredClients"
      ></app-table>
    }
    </div>
  </div>
</div>

<div class="modal fade" id="updateClientModal" tabindex="-1" aria-labelledby="updateClientModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-success" id="updateClientModalLabel">Upraviť Klienta</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateForm">
          <div class="mb-3">
            <label for="updateName" class="form-label">Meno Priezvisko</label>
            <input
              type="text"
              id="updateName"
              class="form-control"
              formControlName="name"
              placeholder="Zadajte meno"
            />
          </div>
          <div class="mb-3">
            <label for="updateEmail" class="form-label">Email</label>
            <input
              type="email"
              id="updateEmail"
              class="form-control"
              formControlName="email"
              placeholder="Zadajte email"
              readonly
            />
          </div>
          <div class="mb-3">
            <label for="updateBankBalance" class="form-label">Bankový Zostatok</label>
            <input
              type="number"
              id="updateBankBalance"
              class="form-control"
              formControlName="bankAccountBalance"
              readonly
            />
          </div>
          <div class="mb-3">
            <label for="updateInvestmentBalance" class="form-label">Investičný Zostatok</label>
            <input
              type="number"
              id="updateInvestmentBalance"
              class="form-control"
              formControlName="investmentAccountBalance"
              readonly
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvoriť</button>
        <button type="button" class="btn btn-primary" (click)="updateClient()">Uložiť Zmeny</button>
      </div>
    </div>
  </div>
</div>

<app-carousel [images]="carouselImages"></app-carousel>
