// Fonts
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

// Override Bootstrap variables
$font-family-base: 'Doto', sans-serif;
$body-bg: #f1f1f1;

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Import Bootstrap Icons
$bootstrap-icons-font-dir: "../node_modules/bootstrap-icons/font/fonts";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";
