<div class="d-flex flex-column min-vh-100">
  <div class="container mt-5">
    <div class="row text-center">

      <div class="col-md-4 mb-3">
        <div class="card shadow-lg text-bg-secondary p-4 w-100" style="max-width: 350px;">
          <div class="card-body">
            <h5 class="card-title text-black fw-bold mb-4">Buy Stocks</h5>
            <form id="buyForm" [formGroup]="buyForm" (ngSubmit)="buyStock()">
              <div class="mb-3">
                <label for="stockSymbol" class="form-label">Stock Symbol</label>
                <input type="text" id="stockSymbol" formControlName="stockSymbol" class="form-control" placeholder="AAPL" />
              </div>
              <div class="mb-3">
                <label for="currency" class="form-label">Currency</label>
                <input type="text" id="currency" formControlName="currency" class="form-control" placeholder="USD" />
              </div>
              <div class="mb-3">
                <label for="stockPrice" class="form-label">Stock Price</label>
                <input type="number" id="stockPrice" formControlName="stockPrice" class="form-control" placeholder="150" min="0" step="100"/>
              </div>
              <div class="mb-3">
                <label for="dividendYield" class="form-label">Dividend Yield</label>
                <input type="number" id="dividendYield" formControlName="dividendYield" class="form-control" placeholder="0.02" min="0" max="1" step="0.1"/>
              </div>
              <div class="mb-3">
                <label for="volatility" class="form-label">Volatility</label>
                <input type="number" id="volatility" formControlName="volatility" class="form-control" placeholder="0.7" min="0" max="1" step="0.1"/>
              </div>
              <div class="mb-3">
                <label for="expectedReturn" class="form-label">Expected Return</label>
                <input type="number" id="expectedReturn" formControlName="expectedReturn" class="form-control" placeholder="0.8" min="0" max="1" step="0.1"/>
              </div>
              <div class="mb-3">
                <label for="amount" class="form-label">Investment Amount</label>
                <input type="number" id="amount" formControlName="amount" class="form-control" placeholder="1000" min="0" step="100"/>
              </div>
              <button type="submit" class="btn btn-info w-25 mt-3">Buy</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 d-flex flex-column align-items-center justify-content-between" >
        <div class="card shadow-lg text-bg-secondary p-4 w-100" style="max-width: 350px;">
          <div class="card-body">
            <h5 class="card-title text-black fw-bold mb-4">Client Email</h5>
            <form id="emailForm" [formGroup]="emailForm">
              <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  class="form-control"
                  placeholder="rezny.marek@gmail.com"
                  (blur)="checkEmail()"
                />
                @if (emailError) {
                  <div class="text-danger">
                    {{ emailError }}
                  </div>
                }
              </div>
            </form>
          </div>
        </div>
      <div class="d-flex justify-content-center align-content-between">
        <button
          type="button"
          class="btn btn-warning w-75 mt-5"
          (click)="fetchInvestmentHistory()"
        >
          Show Transaction History
        </button>
      </div>
        <div class="flex-grow-1 d-flex align-items-end mt-3">
          <div class="p-1 shadow-lg w-100" style="border: 3px solid #105da8; border-radius: 10px; background-color: #ffa500;">
            <img ngSrc="/images/Stock_chart.png" alt="Stock Chart" width="600" height="360" priority style="max-width: 100%; height: auto; border-radius: 10px;">
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 d-flex align-items-start justify-content-end">
        <div class="card shadow-lg text-bg-secondary p-4 w-100" style="max-width: 350px;">
          <div class="card-body">
            <h5 class="card-title text-black fw-bold mb-4">Sell Stocks</h5>
            <form id="sellForm" [formGroup]="sellForm" (ngSubmit)="sellStock()">
              <div class="mb-3">
                <label for="sellStockSymbol" class="form-label">Stock Symbol</label>
                <input type="text" id="sellStockSymbol" formControlName="stockSymbol" class="form-control" placeholder="AAPL" />
              </div>
              <div class="mb-3">
                <label for="sharesToSell" class="form-label">Shares to Sell</label>
                <input type="number" id="sharesToSell" formControlName="sharesToSell" class="form-control" placeholder="6" min="1" step="1"/>
              </div>
              <button type="submit" class="btn btn-danger w-25 mt-3">Sell</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <h3 class="text-center text-primary mb-4">O stránke Investovanie</h3>
      <p>
        Vitajte na stránke Investovanie! Táto platforma je navrhnutá tak, aby vám poskytla komplexné nástroje na správu a rast vášho investičného portfólia. Či už ste skúsený investor, alebo len začínate, naše intuitívne rozhranie vám umožní jednoducho vykonávať základné úlohy, ako je nákup a predaj akcií, prezeranie histórie transakcií a analýza výkonnosti vašich investícií.
      </p>
      <p>
        Na tejto stránke môžete:
      </p>
      <ul>
        <li>
          <strong>Kúpiť akcie:</strong> Použite formulár na výber akcie, zadajte kľúčové parametre, ako je výška investície, a vykonajte nákup priamo do vášho investičného účtu.
        </li>
        <li>
          <strong>Predať akcie:</strong> Jednoducho predajte podiely z vašich investícií na vyváženie portfólia alebo realizáciu zisku. Proces je rýchly a jednoduchý.
        </li>
        <li>
          <strong>História transakcií:</strong> Sledujte všetky svoje investičné transakcie vrátane detailov o kúpených a predaných akciách, aby ste mali jasný prehľad a poriadok.
        </li>
        <li>
          <strong>Zobrazenie držaných akcií:</strong> Prezrite si tabuľku, ktorá obsahuje aktuálny zoznam vašich akcií, vrátane detailov, ako sú názvy akcií, ich cena, počet podielov a ďalšie informácie o výkonnosti.
        </li>
      </ul>
      <p>
        Naším cieľom je umožniť vám prevziať kontrolu nad vašou finančnou budúcnosťou. Nástroje na tejto stránke sú navrhnuté tak, aby vám poskytli cenné informácie a pomohli vám robiť rozhodnutia založené na údajoch, ktoré podporia vaše investičné ciele.
      </p>
      <p>
        Preskúmajte všetky funkcie, skúste rôzne stratégie a maximalizujte potenciál svojich investícií. Prajeme vám úspešné investovanie!
      </p>
    </div>

    <div class="container mt-5 mb-5 d-flex border-0 justify-content-center align-items-center">
      <div class="card shadow-lg text-bg-secondary p-4 w-100" style="max-width: 1000px;">
        <div class="card-body">
          <h2 class="text-center mb-5 text-black fw-bold">Zoznam akcií klientov</h2>

          @if (isLoading) {
            <div class="text-center text-muted fs-5 py-3">
              Načítavam ...
            </div>

          } @else {
            <form id="searchForm" class="mb-5 pb-3">
              <div class="input-group">
                <input
                  type="text"
                  id="searchInput"
                  class="form-control"
                  placeholder="Hľadať..."

                  [(ngModel)]="search"

                  name="search"
                  aria-label="Search"
                />
                <button
                  class="btn btn-primary"
                  type="button"
                  id="searchButton"

                  (click)="searchStocks()"
                >
                  Hľadať
                </button>
              </div>
            </form>

            <app-table
              [columns]="clientsColumns"
              [rows]="filteredRows"
            ></app-table>
          }
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="transactionHistoryModal" tabindex="-1" aria-labelledby="transactionHistoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="transactionHistoryModalLabel">Transaction History</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @if (history.length > 0) {
          <div class="table-responsive">
            <table class="table table-striped table-bordered border-black table-hover text-dark">
              <thead>
              <tr>
                <th>#</th>
                <th>Stock</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Type</th>
              </tr>
              </thead>
              <tbody>
                @for (record of history; track $index) {
                  <tr>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ record.stock }}</td>
                    <td>{{ record.shares }}</td>
                    <td>{{ record.price }}</td>
                    <td>
                      @if (record.type === 'buy') {
                        <span class="badge bg-info">Buy</span>
                      } @else if (record.type === 'sell') {
                        <span class="badge bg-danger">Sell</span>
                      }
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        } @else {
          <div class="alert alert-warning text-center">
            No transaction history available.
          </div>
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
